# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Maya
*.ma.swatches
*.mb.swatches
*.mayaSwatches/
workspace.mel
userPrefs.mel

# OS/editor noise
.DS_Store
Thumbs.db
.idea/
.vscode/

# Local artifacts
*.zip
*.tar.gz
dist/
build/
